/* COMMON */
.kiwi-messagelist-message-privmsg-encrypted .kiwi-messagelist-body::before,
.kiwi-messagelist-message-privmsg-decryption-error .kiwi-messagelist-body::before {
	/* .fa */
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 1.25rem;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin: 0.1em 0.25em;
	position: relative;
	top: 1px;
}

/* ENCRYPTED */
.kiwi-messagelist-message-privmsg-encrypted .kiwi-messagelist-body {
	background-color: hsla(116, 100%, 50%, 0.19);
}
.kiwi-messagelist-message-privmsg-encrypted .kiwi-messagelist-body::before {
	/* .fa-lock */
	content: '\f023';

	color: hsla(116, 86%, 36%, 1);
}

/* DECRYPTION ERROR */
.kiwi-messagelist-message-privmsg-decryption-error .kiwi-messagelist-body {
	background-color: #ff000030;
}
.kiwi-messagelist-message-privmsg-decryption-error .kiwi-messagelist-body::before {
	/* .fa-exclamation-triangle */
	content: '\f071';

	color: #7b0000;
}

/* KEY EXCHANGE SPINNER */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.fade-enter-to,
.fade-leave {
	opacity: 1;
}

.plugin-olm-inputbar-ui {
	position: relative;
}

.olm-syncing-icon {
	position: absolute;
	top: -0.4em;
}

.e2ee-sync-status-popover {
	position: absolute;
	bottom: 38px;
	right: -12px;
	background-color: #ceb3b3;
	min-width: 15em;
}
